/vendor
/node_modules
/storage
Homestead.yaml
Homestead.json
.env
.env.example
.phpintel
*.sublime-*
_ide_helper.php
config/log-viewer.php
config/ide-helper.php
resources/lang/vendor/log-viewer
resources/views/vendor/log-viewer
public/downloads