.auth-page {
    height: 100%;
    background: #282c37;
    padding-top: 10%;
    &.is-long {
        padding-top: 5%;
    }
}

.auth-container {
    max-width: 400px;
}

.auth-container-wide {
    @extend .auth-container;
    max-width: 450px;
}

.auth-logo {
    display: block;
    margin-bottom: 20px;
    img {
        width: 60px;
        height: auto;
    }
    .title {
        float: right;
        color: #cfd6e6;
        margin-top: 10px;
        display: block;
        font-weight: lighter;
        font-size: 2rem;
    }
}

.auth-form {
    background: #fff;
    border-radius: 4px;
    padding: 15px;
}

.auth-form-header {
    margin-bottom: 1rem;
    border-bottom: solid 1px #dedede;
    padding-bottom: 1rem;
    text-align: center;
}

.auth-footer {
    margin-top: 10px;
    a, .fa {
        font-size:  $font-size-sm;
        color: lighten($secondary, 50%);
    }
}

.auth-error {
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 3px;
    display: block;
    color: #fff;
    background: #d9534f;
    margin-top: 10px;
    text-align: center;
}

.auth-success {
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    background-color: #5cb85c;
    font-size: 0.9rem;
    display: block;
}