.dashboard-content {
    margin-top: $navbar-height;
    margin-left: $sidemenu-width;
    margin-right: 0;
}

.connect-account-item-inner {
    height: 180px;
    overflow: hidden;
}

.connect-account-image {
    width: 100%;
    height: auto;
}

.admin-content{
    padding-top: 15px;
    margin-top: $navbar-height;
    margin-left: 0;
}