.explorer {
    margin-right: 0;
    &.has-sidebar {
        margin-right: $sidebar-width;
    }
}

.explorer-header {
    border-bottom: solid 1px $explorer-header-border-color;
    padding: 10px 18px;
    margin-bottom: 10px;
}

.explorer-header-title {
    color: $gray-light;
    font-weight: bold;
    float: left;
}

.explorer-header-breadcrumb {
    a {
        color: $gray-light;
        text-decoration: none;
    }

    a:after {
        content: " > ";
        color: lighten($gray-light, 20%);
    }

    a:last-child:after {
        content: "";
    }
}

.explorer-header-links {
    float: right;
    & > a {
        padding: 0 10px;
        font-size: 0.8em;
    }
}

.explorer-items {
    padding: 20px;
}

.explorer-item {
    cursor: pointer;
    margin-bottom: 1.75em;
    @extend .animated;
    @extend .fadeInUp;
    &.selected {
        background: $primary;
        border-color: darken($primary, 7%);
        color: #fff;
        .explorer-item-icon {
            color: #fff;
            border-bottom: solid 1px darken($primary, 7%);
        }
    }
}

.explorer-item-thumbnail {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.explorer-item-body {
    padding: 0.5rem 0.75rem;
    //text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.explorer-item-icon {
    display: block;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px #e5e5e5;
    color: #ddd;
}



.explorer-item-title {
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 0;
    overflow: hidden;
    font-size: 0.9rem;
}

@include media-breakpoint-down(sm) {
    .explorer {
        margin-right: 0 !important;
    }
}