html {
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
  padding-bottom: 0 !important;
}

a, a:hover{
  cursor: pointer;
}

.open > .dropdown-menu {
  @extend .animated;
  @extend .zoomIn;
  animation-duration: 0.1s;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

.force-hidden {
  display: none !important;
}
.text-center {
  text-align: center;
}
