.navbar-main {
    min-height: $navbar-height;
    left: $sidemenu-width;
    background: $navbar-main-background;
    border-bottom: solid 1px $navbar-main-border-color;
    box-shadow: 0px 1px 2px lighten($navbar-main-border-color, 5%);
    &.is-full {
        left: 0;
    }
}

.navbar-search-form {
    padding-right: 0;
    padding-left: 0;
}

.navbar-search-input {
    border: none;
    border-radius: 0;
    border-bottom: solid 1px darken($navbar-main-background, 10%);
    width: 70%;
    transition: width 0.5s ease-in-out;
    &:focus, &:active {
        border-bottom: solid 1px darken($navbar-main-background, 20%);
        width: 100%;
    }
}

.navbar-info-nav {
    float: right;
}

.navbar-main {
    .dropdown-menu {
        top: 100%;
        margin-top: 10px;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;
        .dropdown-header {
            padding: 5px 15px;
        }
        .dropdown-item:last-child {
            border-bottom-right-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
    }
}

.notifications-menu{
    .notification-count{
        min-width: 18px;
        min-height: 18px;
        position: absolute;
        top: 3px;
        left: -17px;
        animation-delay: 1.5s;
    }
}

.notifications-dropdown {
    width: 350px;
}

.notification-item {
    display: block;
    padding: 10px;
    margin-top: 0;
    border-top: solid 1px $dropdown-border-color;
    font-size: 0.8rem;
    color: $gray;
    white-space: normal;
    &:hover, &:focus, &:active {
        text-decoration: none;
        background: $dropdown-link-hover-bg;
    }
    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    .timestamp {
        display: block;
        color: $gray-light;
        font-size: 0.7rem;
    }
}

.navbar-account-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    float: left;
    margin-top: 4px;
    margin-left: 1rem;
    margin-right: 0.3rem;
}